.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 2rem;
  position: fixed;
  z-index: 1;
  background-color: var(--background-color-1);
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  color: var(--color-text-2);
  height: 76px;
}

.nav-title {
  text-transform: uppercase;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  height: 0vh;
}

.nav-link {
  padding: 30px 5px;
  transition: 0.3s ease;
  text-decoration: none;
  color: var(--color-text-2);
  font-weight: var(--font-weight-medium);
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.nav-link:hover {
  background-color: var(--color-primary);
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 320px) {
  .navbar-content {
    padding: 0.8rem 0.5rem;
    margin-top: 0;
  }

  .dropdown-toggle {
    display: block;
  }

  .nav-title {
    font-size: 1.3rem;
  }

  .nav-items {
    display: none;
  }

  .divisor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .navbar-content {
    padding: 0.6rem 0.5rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-title {
    font-size: var(--font-size-medium);
  }

  .nav-items {
    display: none;
  }

  .nav-items.isActive {
    display: flex;
    position: relative;
    top: 22px;
    height: 100vh;
    flex-direction: column;
    background-color: var(--background-color-1);
    width: 100vw;
    padding: 10px 0;
  }
  .nav-link {
    font-size: var(--font-size-small);
  }
  .nav-link:hover {
    background-color: transparent;
  }

  .dropdown-toggle {
    display: block;
  }

  .divisor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 1270px) {
  .dropdown-toggle {
    display: block;
  }

  .navbar-content {
    padding: 1rem 0.8rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  .divisor {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .nav-items {
    display: none;
    transition: 0.5s ease;
  }

  .nav-items.isActive {
    display: flex;
    position: relative;
    top: 16px;
    height: 100vh;
    flex-direction: column;
    background-color: var(--background-color-1);
    width: 100vw;
    padding: 10px 0;
  }
  .nav-link {
    font-size: var(--font-size-small);
  }
  .nav-link:hover {
    background-color: transparent;
  }
}
