:root {
  --background-color-1: #0c0b099e;
  --color-text-1: #000000;
  --color-text-2: #ffffff;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
